[submodule "vendor/qwen35-spark"]
	path = vendor/qwen35-spark
	url = git@github.com:prism-hu/DGX_Spark_Qwen3.5-122B-A10B-AR-INT4.git
[submodule "vendor/nucllei"]
	path = vendor/nucllei
	url = git@github.com:technoplasm/nucllei.git
[submodule "vendor/qwen38-flash-next"]
	path = vendor/qwen38-flash-next
	url = https://github.com/MiaAI-Lab/Qwen3.8-Flash-Next-Single-DGX-Spark
